<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118578334471-hm7mtc5a84rosjubofd8j9qlk4a2r7qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118578334471-hm7mtc5a84rosjubofd8j9qlk4a2r7qs</string>
	<key>API_KEY</key>
	<string>AIzaSyDRr6xbiRST20Cah-ofP2hafrDAlDttNuY</string>
	<key>GCM_SENDER_ID</key>
	<string>118578334471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xunoWebApplication</string>
	<key>PROJECT_ID</key>
	<string>xunowebapp</string>
	<key>STORAGE_BUCKET</key>
	<string>xunowebapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118578334471:ios:91ff8724a44492f43953a2</string>
</dict>
</plist>